<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div class="primary-color social">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Retrouvez-nous sur les réseaux sociaux !</h6>
        </div>

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center white-text text-md-right">
          <a target="_blank" class="m-4" href="https://www.facebook.com/BookMania-Soutien-scolaire-469609243146229">
            <i class="fab fa-facebook"></i>
          </a>
          <a target="_blank" class="mr-4" href="https://www.instagram.com/bookmaniacasablanca">
            <i class="fab fa-twitter"></i>
          </a>
          <a target="_blank" class="mr-4" href="https://www.youtube.com/channel/UCSR6PYVYb51Q4H3iKKJKPpw">
            <i class="fab fa-youtube"></i>
          </a>
          <a target="_blank" class="mr-4" href="https://www.linkedin.com/company/bookmania">
            <i class="fab fa-linkedin"></i>
          </a>
          <a target="_blank" href="https://twitter.com/BOOKMANIO">
            <i class="fab fa-instagram"> </i>
          </a>
        </div>

      </div>
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-4">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-3">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">À PROPOS DE NOUS</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Numéro 1 de l'accompagnement scolaire à Casablanca. Soutien scolaire toutes matières du primaire à BAC+5. Centre de langues pour enfants et adultes.</p>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">ACCOMPAGNEMENT</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#">Soutien scolaire toutes matières</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Préparation test et concours</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Préparation du test Mission</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Préparation du bac français</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">BAC en candidat libre</a>
        </p>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">LANGUES</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a class="dark-grey-text" href="#">Cours de français</a></p>
        <p><a class="dark-grey-text" href="#">Cours de darija</a></p>
        <p><a class="dark-grey-text" href="#">Cours d'anglais</a></p>
        <p><a class="dark-grey-text" href="#">Cours d'espagnol</a></p>
        <p><a class="dark-grey-text" href="#">Cours de japonais</a></p>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3 contact">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">CONTACT</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="mailto:contact@bookmania.ma">
            <i class="fa fa-envelope mr-1"></i>
            contact@bookmania.ma
          </a>
        </p>
        <p>
          <a href="tel:+2120522225062">
            <i class="fa fa-phone mr-1"></i>
            (+212) 05 22 22 50 62
          </a>
        </p>
        <p>
          <a href="tel:+2120606060101">
            <i class="fab fa-whatsapp mr-1" style="font-size: 1.1rem;"></i>
            (+212) 06 06 06 01 01
          </a>
        </p>
        <p>
          <a target="_blank" href="https://goo.gl/maps/qExbRXBoUtz">
            <i class="fas fa-map-marker-alt mr-1"
               style="font-size: 1.1rem;">
            </i>
            BOOKMANIA
          </a>
          <br>
          <span style="font-weight: 200;">
            51, avenue Hassan Souktani,
            Quartier Gautier, 20060,
            Casablanca Maroc
          </span>
        </p>

      </div>

    </div>

  </div>

  <!-- Grid row -->
  <div class="footer-copyright text-center text-white pt-3">
    <div class="container d-flex align-items-center justify-content-between">

      <!--Copyright-->
      <p class="text-center text-md-left">
        © 2018 tous droits réservés
      </p>

      <!-- Social buttons -->
      <div class="text-center text-md-right">
        <ul class="small">
          <li class="list-inline-item">
            <a href="">ACCUEIL</a>
          </li>
          <li class="list-inline-item">
            <a href="">QUI SOMMES-NOUS</a>
          </li>
          <li class="list-inline-item">
            <a href="">RECRUTEMENT</a>
          </li>
          <li class="list-inline-item">
            <a href="">TEMOIGNAGES</a>
          </li>
          <li class="list-inline-item">
            <a href="">CONVENTION D'ENTREPRISE</a>
          </li>
          <li class="list-inline-item">
            <a href="">PARTENAIRES</a>
          </li>
          <li class="list-inline-item">
            <a href="">CONTACTS</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</footer>
