<footer class="page-footer font-small blue-grey lighten-5">

  <div class="primary-color social">
    <div class="container" data-aos="fade-in">
      <div class="row py-4 d-flex align-items-center">

        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Retrouvez-nous sur les réseaux sociaux</h6>
        </div>

        <div class="col-md-6 col-lg-7 text-center white-text text-md-right">
          <a target="_blank" class="m-4" href="https://www.facebook.com/BookMania-Soutien-scolaire-469609243146229">
            <i class="fab fa-facebook"></i>
          </a>
          <a target="_blank" class="mr-4" href="https://twitter.com/BOOKMANIO">
            <i class="fab fa-twitter"></i>
          </a>
          <a target="_blank" class="mr-4" href="https://www.youtube.com/channel/UCSR6PYVYb51Q4H3iKKJKPpw">
            <i class="fab fa-youtube"></i>
          </a>
          <a target="_blank" class="mr-4" href="https://www.linkedin.com/company/bookmania">
            <i class="fab fa-linkedin"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/bookmaniacasablanca">
            <i class="fab fa-instagram"></i>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-4" data-aos="fade-in">

    <div class="row mt-3 dark-grey-text">

      <div class="col-md-3 col-lg-3 col-xl-3 mb-3">
        <h6 class="text-uppercase font-weight-bold">À PROPOS DE NOUS</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Numéro 1 de l'accompagnement scolaire à Casablanca. Soutien scolaire toutes matières du primaire à BAC+5. Centre de langues pour enfants et adultes.</p>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">
        <h6 class="text-uppercase font-weight-bold">ACCOMPAGNEMENT</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="{{site.baseurl}}/soutien-scolaire.php">Soutien scolaire toutes matières</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{{site.baseurl}}/tests-et-concours.php">Préparation test et concours</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{{site.baseurl}}/mission-francaise.php">Préparation du test Mission</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{{site.baseurl}}/bac-français.php">Préparation du BAC français</a>
        </p>
        <p>
          <a class="dark-grey-text" href="{{site.baseurl}}/bac-candidat-libre.php">BAC en candidat libre</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">
        <h6 class="text-uppercase font-weight-bold">LANGUES</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a class="dark-grey-text" href="{{site.baseurl}}/apprendre-francais-casablanca.php">Cours de français</a></p>
        <p><a class="dark-grey-text" href="{{site.baseurl}}/apprendre-darija-casablanca.php">Cours de darija</a></p>
        <p><a class="dark-grey-text" href="{{site.baseurl}}/apprendre-anglais-casablanca.php">Cours d'anglais</a></p>
        <p><a class="dark-grey-text" href="{{site.baseurl}}/apprendre-espagnol-casablanca.php" ">Cours d'espagnol</a></p>
        <p><a class="dark-grey-text" href="{{site.baseurl}}/apprendre-japonais-casablanca.php"">Cours de japonais</a></p>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3 contact">
        <h6 class="text-uppercase font-weight-bold">CONTACT</h6>
        <hr class="teal accent-3 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-envelope mr-1"></i>
          <a href="mailto:contact@bookmania.ma">
            contact@bookmania.ma
          </a>
        </p>
        <p>
          <i class="fa fa-phone mr-1"></i>
          <a href="tel:+2120522225062">
            <br class="rwd-break-768-992">
            (+212) 05 22 22 50 62
          </a>
        </p>
        <p>
          <i class="fab fa-whatsapp mr-1" style="font-size: 1.1rem;"></i>
          <a href="https://wa.me/+2120606060101">
            Whatsapp:
            <br class="rwd-break-1200">
            (+212) 06 06 06 01 01
          </a>
        </p>
        <p>
          <i class="fas fa-map-marker-alt mr-1"
             style="font-size: 1.1rem;">
          </i>
          <a target="_blank" href="https://goo.gl/maps/qExbRXBoUtz">
            BOOKMANIA
          </a>
          <br>
          <span style="font-weight: 200;">
            51, avenue Hassan Souktani, Casablanca
          </span>
        </p>
      </div>

    </div>

  </div>

  <div class="footer-copyright text-center text-white pt-3">
    <div class="container d-flex align-items-center justify-content-between">

      <p class="text-center text-md-left">
        © 2018 tous droits réservés
      </p>

      <div class="text-center text-md-right">
        <ul class="small">
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/">ACCUEIL</a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/qui-sommes-nous.php">QUI SOMMES-NOUS</a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/recrutement.php">RECRUTEMENT</a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/temoignage.php">TEMOIGNAGES</a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/conventions-dentreprises.php">CONVENTION D'ENTREPRISE</a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/partenaire.php">PARTENAIRES</a>
          </li>
          <li class="list-inline-item">
            <a href="{{site.baseurl}}/contactez-nous.php">CONTACT</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</footer>
