.cta {
  .wrapper{
    max-width: 90vw;
    position:relative;
    display:flex;
    flex-flow:column;
    flex:1;
    padding:40px;
    margin:15px;
    border-radius:10px;
    background:#fff;
    // box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
    transition:all 0.4s linear;
    &:hover{
      box-shadow: 0px 8px 200px rgba(0, 0, 0, 1);
    }
    .close {
      position:absolute;
      top:-10px;
      right:-10px;
      display:flex;
      align-items:center;
      justify-content:center;
      background:#000;
      color:white;
      width:30px;
      height:30px;
      border-radius:50%;
      text-decoration:none;
      transition:all 0.4s linear;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
      &:hover{
        background:#00adee;
      }
    }

    h1 {
      font-size:36px;
      font-weight:700;
      margin-bottom:25px;
      line-height:1.2;
    }
    h2 {
      font-size:20px;
      font-weight:700;
      margin-bottom:25px;
    }
    p{
      line-height:1.5;
      margin-bottom:25px;
    }

    button {
      display:flex;
      justify-content:center;
      background:#00adee;
      color:white;
      border:none;
      // margin-bottom:25px;
      padding:15px;
      font-weight:700;
      font-size:14px;
      border-radius:5px;
      transition:all 0.4s linear;
      cursor: pointer;
      &:hover{
        background:darken(#00adee, 20%);
      }
    }

    .email-capture{
      display:flex;
      button{
        padding:0px 20px;
      }
      input{
        flex:1;
        padding:0 0 0 20px;
        margin:0;
        border:none;
        height:40px;
        background:#eee;
        border-radius:2px;
      }
    }

    //animations

    $easeOutCust:cubic-bezier(.03,.16,.39,0.99);
    $easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
    $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

    $globalDelay: .8; //just so we can see what's going on even when codepen refreshes funny


    @keyframes slideIn {
      from {transform:translateY(400px);}
      to {transform:translateY(0);}
    }

    @keyframes fadeIn {
      from {opacity:0;}
      to{ opaticy: 1;}
    }

    @keyframes slideDown {
    from {transform: translateY(-120px);}
    to {transform: translateY(0);}
    }

    @keyframes slideInShort {
      from {transform:translateY(80px);}
      to {transform:translateY(0);}
    }

    @keyframes blink {
        0% { box-shadow: 0 0 25px #00adee; }
        50% { box-shadow: none; }
    }

    .cta {
      animation:
      slideIn .65s $globalDelay+0s $easeOutBack both,
      fadeIn 0.25s $globalDelay+0s $easeInQuad both;
    }

    button {
    animation: slideDown 0.7s $globalDelay+.35s $easeOutCust both,
      fadeIn .2s $globalDelay+.3s $easeInQuad both, blink 2.0s linear infinite;
    }

    h1, h2 {
      animation:
    slideInShort 0.25s $globalDelay+.25s $easeOutCust both,
    fadeIn 0.1s $globalDelay+.2s $easeInQuad both;
    }

    p, .email-capture, .close {
    animation:
    slideInShort 0.25s $globalDelay+.3s $easeOutCust both,
    fadeIn 0.1s $globalDelay+.25s $easeInQuad both;
    }
  }
}
