.page-footer, .top-nav-collapse {
  background-color: white;
}

.page-footer {
  .social a {
    font-size: 1rem;
    opacity: .9;
    &:hover {
      color: white !important;
      opacity: 1;
    }
  }
  .contact a {
    color: black !important;
  }
  a {
    &:hover {
      color: #4285F4 !important;
    }
  }
}
