.view {
  height: 100%;
}

#banner {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.card {
  max-width: 370px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
  transition: all .5s !important;
  &:hover {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.24), 0 2px 40px 0 rgba(0,0,0,.18);
  }
}

.processus {
  max-width: 72%;
  margin: auto;
  border-radius: 1px;
  background-color: rgba(0,0,0,0);
  transition: all .6s;
  &:hover {
    background-color: rgba(128,128,128,.1);
  }
}

.reviews {
  background-size: cover;
  background-position: center;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
  .testimonial {
    max-width: 70%;
    margin: 0 auto 1rem auto;
    min-height: 120px;
    @media (max-width: 768px) {
      min-height: 216px;
    }
    @media (max-width: 478px) {
      min-height: 264px;
    }
    em {
      font-weight: 100;
    }
  }
  a {
    color: lightgray;
    &:hover {
      color: #4285F4;
    }
  }
}

.carousel-caption {
  color: black !important;
  p {
    color: gray;
  }
}

.offers {
  color: white;
  span {
    font-weight: 200;
  }
}

@media (min-width: 768px) {
  .offers {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .offers {
    text-align: center;
  }
}

.map-container {
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19) !important;
  height: 48vh;
  iframe {
    height: 100%;
    width: 100%;
  }
}

// animated scroll arrow animation
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 3s ease-in-out infinite;
}
