@import "navbar";
@import "back-to-top";
@import "footer";
@import "index";
@import "nosoffres";
@import "nos-metiers";
@import "qui-sommes-nous";
@import "temoignage";
@import "recrutement";
@import "partenaire";
@import "mission-francaise";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// body {
//   font-family: "Open Sans";
// }

.description-image {
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.fa-check {
  color: #0FC0F5;
  font-size: 20px;
}

#contact {
  p, a {
    color: #64686c;
  }
  a:hover {
    color: #4285F4;
  }
}

.banner {
  height: 51vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
  h1 {
    color: white;
    font-weight: 400;
    margin-top: 5%;
  }
}

h1 {
  @media (max-width: 478px) {
    font-size: 1.81rem;
 }
}

h3 {
  @media (max-width: 478px) {
    font-size: 1.7rem;
 }
}

h4 {
  @media (max-width: 478px) {
    font-size: 1.33rem;
 }
}

h6 {
  @media (max-width: 478px) {
    font-size: .98rem;
 }
}
