#nos-offres {
  strong {
    color: #64686c;
  }
  p strong {
    font-weight: 600;
  }
}

.formulas-titles {
  a {
    color: #64686c !important;
    &:hover {
      color: #4285F4 !important;
    }
  }
  .todo-list {
    font-size: 20px;
    max-width: 84%;
    .todo {
      z-index: 0;
      display: block;
      position: relative;
      padding: 0 1em 0 16%;
      margin-bottom: 1em;
      .todo__icon {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        fill: none;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-linecap: round;
      }
    }
  }
}

#formulas {
  .card-body {
    padding: 0;
    h5 {
      min-height: 48px;
      transition: min-height 0.5s;
      @media (max-width: 478px) {
        min-height: 0;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .btn {
      margin: 1.25rem;
    }
  }
  .card__thumb {
    height: 200px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.5s;
    img {
      width: 100%;
      opacity: 1;
      transform: scale(1.33);
      transition: opacity 0.5s, transform 0.5s;
    }
  }
  .card:hover .card__thumb {
    height: 0px;
    img {
      opacity: 0.6;
      transform: scale(1.2);
    }
  }
  .card__body {
    height: 200px;
    padding: 13px 11px;
    transition: height 0.5s;
  }
  .card:hover .card__body {
    height: 400px;
    h5 {
      min-height: 0px;
      transition: min-height 0.5s;
    }
  }
  .card__description {
    @media (max-width: 478px) {
      font-size: 13px !important;
    }
    color: #666C74;
    opacity: 0;
    transform: translateY(45px);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0s;
  }
  .card:hover .card__description {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.2s;
  }
}
