#nos-offres strong {
  color: #64686c;
}

.description-image {
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
  background-size: cover;
  width: 100%;
  height: 100%;
  @media (max-width: 992px) {
    display: none;
  }
}

.formulas-titles {
  a {
    color: #64686c !important;
    &:hover {
      color: #4285F4 !important;
    }
  }
  .todo-list {
    font-size: 20px;
    max-width: 84%;
    .todo {
      z-index: 0;
      display: block;
      position: relative;
      padding: 0 1em 0 16%;
      margin-bottom: 1em;
      .todo__icon {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        fill: none;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-linecap: round;
      }
    }
  }
}

#formulas {
  p {
    font-size: 14px;
  }
  .card-formula {
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      min-height: 48px;
    }
    p {
      flex: 1;
    }
    a {
      align-content: flex-end;
      max-width: 209px;
    }
  }
}
