#partenaire {
  .card {
    max-width: 448px !important;
    .view {
      height: 128px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: contain;
      }
      .mask {
        background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
        opacity: .1;
      }
    }
  }
}
