#qui-sommes-nous {
  strong {
    color: #64686c;
  }
  p strong {
    font-weight: 600;
  }
  img {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
    max-width: 370px;
  }
}

#presse {
  a {
    color: #4f4f4f;
    &:hover {
      color: #007bff;
    }
  }
  img {
    max-height: 99px;
    max-width: 100%;
  }
}
