<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Soutien Scolaire à Casablanca, Accompagnement personnalisé et soutien scolaire à Casablanca">
  <meta name="subject" content="Soutien Scolaire Casablanca">
  <meta name="copyright" content="BOOKMANIA">
  <meta name="author" content="BOOKMANIA">
  <meta name="identifier-url" content="www.bookmania.ma">
  <meta name="keywords" content="Soutien scolaire Casablanca, Cours particuliers Casablanca, centre de soutien scolaire Casablanca, ecole soutien scolaire Maroc, soutien scolaire Casablanca, cours soutien scolaire Casablanca, soutiens scolaire, soutiens scolaires, cours de soutien mission, cours scolaire,Soutien scolaire primaire ,Soutien scolaire collége, Soutien scolaire lycée,soutien scolaire Physique/Chimie Casablanca, soutien scolaire Langue Française casablanca, Prèparer le SAT au Maroc, Prèparation le SAT au Maroc, SAT maroc, SAT Casablanca, Prèparer le DAEU au Maroc, Prèparation le DAEU au Maroc">

  <link rel="stylesheet" href="css/styles.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
</head>

<body>
  {% include navbar.html %}
  {{ content }}
  {% include footer.html %}
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js"></script>
  <!-- Animate On Scroll -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init({
      duration: 600,
      easing: 'ease',
    });
  </script>

  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>
  <script>
    // Back to top
    $(window).scroll(() => {
      if ($(window).scrollTop() > 600) {
        $('button.back-to-top').addClass('show');
      } else {
        $('button.back-to-top').removeClass('show');
      }
    });

    $('button.back-to-top').click(() => {
      $('html, body').animate({ scrollTop: 0 }, 800);
      return false;
    });

    // Add waves effect
    Waves.attach('button.back-to-top', 'waves-effect');
    Waves.init();
  </script>
</body>

</html>
